@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BalsamiqSans";
  src: url(/assets/font/BalsamiqSans-Regular.ttf);
}

html{
  font-family: BalsamiqSans;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}